*{
    margin: 0px;
    padding: 0px;
}

body{
    background: white;
}

.wrapper{
    width: 960px;
    height: 770px;
    background-color: rgb(245, 240, 240);
    margin: 0 auto;
}

.header {
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    margin-top: 10px;
    background-color: #07042b;
}

.contenedor{
    width: min(90% 110rem);
    margin: 0 auto;
}

h1, h2, h3, h4{
    font-family: 'Roboto flex';
    line-height: 1,2;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 1.8rem;
}

.barra{
    padding-top: 1.5rem;
}

.logo{
    color: #e5e5e5;
    text-decoration: none;
}

.logo_nombre{
    font-weight: 500;
}

.logo_bold{
    font-weight: 700;
}

.no_margin{
    margin: 0;
}

.centrar_texto{
    text-align: left;
    padding: 0.5rem;
}

@media(min-width:868px) {
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: right;
        padding-left: 6rem;
    }
}

.navegacion_enlance{
    text-align: right;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

nav {
    width: 160px;
    height: 500px;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.menu{
    width: 180px;
    height: 480px;

}

.menu li{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 600 ms;
}

.menu li a {
    text-decoration: none;
}

.menu li:hover {
    background: #fcba03;
    border-radius: 1rem;
}

main{
    width: 580px;
    height: 500px;
    background-color: white;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px;
}

#scroll{
    width: 560px;
    height: 480px;
    background-color: white;
    margin: 10px;
    overflow-y: scroll;
}

.barra::-webkit-scrollbar{
    width: 7px;
    background: white;
}

aside{
    width: 180px;
    height: 500px;
    background-color: white;
    float: right;
    margin-right: 10px;
}

#datos{
    float: left;
    width: 960px;
    height: 70px;
    background-color: #07042b;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    padding: 0.5rem;

}

h4{
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
    padding-bottom: 10px;
}