header{
    background-color: #F40E23;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    color: white;
    margin: 15px;
}

main{
    margin: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-align: justify;
}


.img_posicion{
    width: 30%;
    float: right;
    position: relative;
}

li{
    text-indent: 30px;
    
}

.text-left{
    width: 70%;
    float: left;
    position: relative;
}

mark{
    background: rgb(140, 1, 1);
    color: white;
}
