*{
    margin: 5px;
    padding: 5px;
}

h1{
    margin: 15px;
    font-family: 'Arial';
    text-align: center;
    font: size 15px;
    color: white;
    background: firebrick;
}

mark{
    color: white;
    background: darkred;
}

.img-right{
    width: 30%;
    float: right;
    position: relative;
}

.text-left{
    width: 60%;
    position: relative;
}





